.btn1 {
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    top:95px;
    position: relative;

  
}

.btn2 {
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    top:10px;
    position: relative;
   
    
}

.btn3{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size:50px;
    position: relative;
    top: 10px;
   
}

.btn4{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    top:10px;
    position: relative;
  
}

.btn5{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
     position: relative;
    top:10px;
}

.btn6{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    position: relative;
    top:10px;
}

.btn7{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;

}

.btn8{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn9{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn10{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size:50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn11{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn12{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn13{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn14{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn15{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top:10px;
    position: relative;
}

.btn16{
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    position: relative;
    top: 10px;
}

.btn17{
   
    border-radius: 32%;
    border: none;
    width: 81px;
    height: 81px;
    background-color: white;
    color: black;
    cursor:pointer;
    font-weight: bold;
    font-size: 50px;
    margin-top: 4px;
    top: 10px;
    position: relative;

}

.keys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;

}

.display{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: white;
    border: none;
    width:438px;
    height:103px;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 73px;
    top: -9px;
    position: relative;
}

.calculator{
background-color: red;
border-radius: 15px;
max-width: 500px;
margin-left: 432px;
margin-top: -8px;
}

body{
display: flex;
align-items: center;
justify-items: center;




}

.btn1:hover{
background-color: green;
}

.btn2:hover{
    background-color: purple;
}

.btn3:hover{
    background-color: palegreen;
}

.btn4:hover{
    background-color: palevioletred;
}

.btn5:hover{
    background-color: plum;
}

.btn6:hover{
    background-color: darkkhaki;
}

.btn7:hover{
    background-color: peru;
}

.btn8:hover{
    background-color: darkred;
}

.btn9:hover{
    background-color: darkgoldenrod;
}

.btn10:hover{
    background-color: aqua;
}

.btn11:hover{
    background-color: darkorange;
}

.btn12:hover{
    background-color: burlywood;
}

.btn13:hover{
    background-color: rebeccapurple;
}

.btn14:hover{
    background-color: black;
}

.btn15:hover{
    background-color: orange;
}

.btn16:hover{
    background-color: orangered;
}

.btn17:hover{
    background-color: olive;
}

.replay{
    display: flex;
    border-radius: 51px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    left: 9px;
    position: relative;
}

.mode{
    display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
}

.shift{
display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
}

.alpha{
    display: flex
;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
}

.ON{
display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
}

.box{
background-color: gray;
    float: right;
    top: -58px;
    position: relative;
    width: 143px;
    height: 67px;
    left: -12px;
    border-radius: 9px;
}

.logo{
color: black; 
    left: 25px;
    position: relative;
}

.p2{
left: 17px;
    position: relative;
    font-style: italic;
}

.p3{
left: 25px;
    position: relative;
}

.p4{
float: right;
float: right;
left: 126px;
position: relative;
top: 16px;
}

.p1{
align-content: flex-start;
justify-content: center;
display: flex;
}

.shift::before {
      content: "SHIFT";
    position: absolute;
    font-size: 14px;
        top: 39%;
    left: 475px;
}

.alpha::before {
      content: "ALPHA";
    position: absolute;
    font-size: 14px;
    top: 39%;
    left: 559px;
}

.ON::before{
 content: "MODE SETUP";
    position: absolute;
    font-size: 14px;
   top: 39%;
    left: 706px;
}

.mode::before{
 content: "ON";
    position: absolute;
    font-size: 15px;
    top: 39%;
    left: 821px;
}

.CALC::before{
     content: "SOLVE =";
    position: absolute;
    font-size: 14px;
    top: -61%;
    left: 14%;
}

.CALC{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 23px;
    position: relative;
    justify-content: center;
    align-items: center;
        color: white;
    background: black;
}

.integral{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
        color: white;
    background: black;
}

.x⁻¹{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    left: 84px;
}

.log{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    left: 85px;
}

.box1{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    

}

.√◻️{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 80px;
}

.x²{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 39px;
}

.ln{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 37px;
}

.logs{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 37px;
}

.xs{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:38px;
}

.coma{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 96px;
}

.hyp{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.sin{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.cos{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.tan{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.ENG{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    
}

.W{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    
}

.O{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    
}

.S{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    

}

.M+{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    

}


