

.keys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
    gap: 13px;

}

.functionkeys{
    position: relative;
    top: 97px;
    left: -272px;
    gap: 34px;
}

.display{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    color: black;
    border: 10px groove aliceblue;
    width:464px;
    height:103px;
    margin-left: 7px;
    margin-right: 4px;
    font-size: 73px;
    top: -9px;
    position: relative;
}

.calculator{
background-color: gainsboro;
border-radius: 15px;
max-width: 500px;
margin-left: 432px;
margin-top: 85px;
max-height: 924px;
}

body{
display: flex;
align-items: center;
justify-items: center;
background-color: black;




}

.btn1:hover{
background-color: green;
}

.btn2:hover{
    background-color: purple;
}

.btn3:hover{
    background-color: palegreen;
}

.btn4:hover{
    background-color: palevioletred;
}

.btn5:hover{
    background-color: plum;
}

.btn6:hover{
    background-color: darkkhaki;
}

.btn7:hover{
    background-color: peru;
}

.btn8:hover{
    background-color: darkred;
}

.btn9:hover{
    background-color: darkgoldenrod;
}

.btn10:hover{
    background-color: aqua;
}

.btn11:hover{
    background-color: darkorange;
}

.btn12:hover{
    background-color: burlywood;
}

.btn13:hover{
    background-color: rebeccapurple;
}

.btn14:hover{
    background-color: black;
}

.btn15:hover{
    background-color: orange;
}

.btn16:hover{
    background-color: orangered;
}

.btn17:hover{
    background-color: olive;
}

.replay{
    display: flex;
    border-radius: 51px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    left: 9px;
    position: relative;
}

.mode{
    display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
    align-items: center;
    justify-content: center;
    color:orange;
}

.shift{
display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
    align-items: center;
    justify-content: center;
    color:orange;
}

.alpha{
    display: flex
;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
    align-items: center;
    justify-content: center;
    color:orange;
}

.ON{
display: flex;
    border-radius: 84%;
    width: 80px;
    height: 56px;
    background-color: darkslateblue;
    border: none;
    align-items: center;
    justify-content: center;
    color:orange;
    font-size: 10px;
}

.box{
background-color: gray;
    float: right;
    top: -58px;
    position: relative;
    width: 143px;
    height: 67px;
    left: -12px;
    border-radius: 9px;
}

.logo{
color: black; 
    left: 25px;
    position: relative;
}

.p2{
left: 17px;
    position: relative;
    font-style: italic;
}

.p3{
left: 25px;
    position: relative;
}

.p4{
float: right;
float: right;
left: 126px;
position: relative;
top: 16px;
}

.p1{
align-content: flex-start;
justify-content: center;
display: flex;
}




.CALC{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 23px;
    position: relative;
    justify-content: center;
    align-items: center;
        color: white;
    background: black;
}

.integral{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
        color: white;
    background: black;
}


.x⁻¹{
display: flex
;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    left: 95px;
}

.x⁻¹::before{
    content: "x!";
    font-size: 14px;
    top: -60%;
    left: 32px;
    position: absolute;
    color: orange;

}



.√◻️::before{
    content: "√x";
    font-size: 14px;
    top: -95%;
    left: 10px;
    position: relative;
    color: orange;

}

.logs::before{
   content: "10ᵡ ";
    font-size: 14px;
    top: -62%;
    left: 25px;
    position:absolute;
    color: orange;         
}

.ln::before{
content: "e";
    font-size: 14px;
    top: -62%;
    left: 33px;
    position:absolute;
    color: orange;  
}

.xs::before{
content: "A";
    font-size: 14px;
    top: -62%;
    left: 62px;
    position:absolute;
    color: orange;  
}

.coma::before{
content: "← B";
    font-size: 14px;
    top: -62%;
    left: 15px;
    position:absolute;
    color: orange;  
}



.btn5::before{
    content: "OFF";
    font-size: 12px;
    top: -17px;
    left: 21px;
    position: absolute;
    color: orange;
}

.btn1::before{
     content: "INS";
    font-size: 12px;
    top: -49%;
    left: 24px;
    position: absolute;
    color: orange;
}

.btn16::before{
content: "%";
    font-size: 14px;
    top: -62%;
    left: 30px;
    position:absolute;
    color: orange;  
}

.btn19::before{
content: "DRG ";
    font-size: 14px;
    top: -62%;
    left: 21px;
    position:absolute;
    color: orange;  
}
.ENG::before{
content: "←";
    font-size: 14px;
    top: -62%;
    left: 15px;
    position:absolute;
    color: orange; 
}

.S::before{
content: "STO";
    font-size: 14px;
    top: -62%;
    left: 22px;
    position:absolute;
    color: orange; 
}










.log{
display: flex
;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    top: 22px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    left: 94px;
}

.box1{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    

}

.√{
display: flex
;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 92px;
}

.x²{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 39px;
}

.ln{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 37px;
}

.logs{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 37px;
}

.xs{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:38px;
}

.coma{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 110px;
}

.hyp{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.sin{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.cos{
    display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.tan{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top: 54px;
}

.ENG{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:122px;
    
}

.W{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:67px;
    
}

.O{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:67px;
    
}

.S{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:67px;
    

}

.M{
display: flex;
    border-radius: 16px;
    width: 80px;
    height: 43px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    top:67px;
    

}

.btn2{
left: -105px;
    position: relative;
    top: 27px;
    width: 80px;
    height: 41px;
    border-radius: 16px;
    background: white;
    font-size: 23px;
}

.btn3{
width: 80px;
    height: 41px;
    font-size: 23px;
    border-radius: 16px;
    top: -14px;
    left: -9px;
    position: relative;
}

.btn4{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -55px;
    left: 86px;
    position: relative;
    font-size:23px;
}

.btn5{
width: 80px;
    height: 41px;
    font-size: 23px;
    border-radius: 16px;
    top: -95px;
    left: 179px;
    position: relative;
}

.btn1{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -136px;
    position: relative;
    left: 274px;
    font-size:23px;
}

.btn6{
width: 80px;
    height: 41px;
    top: -115px;
    position: relative;
    left: -104px;
    border-radius: 16px;
    font-size:23px;
}

.btn7{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -155px;
    position: relative;
    left: -9px;
    font-size: 23px;
}

.btn8{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -195px;
    position: relative;
    left: 87px;
    font-size: 23px;
}

.divide{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -278px;
    left: 276px;
    position: relative;
    font-size:23px
}

.multiply{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -237px;
    position: relative;
    left: 181px;
    font-size:23px;
}

.btn8{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -195px;
    position: relative;
    left: 87px;
    font-size: 23px;
}

.minus{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -418px;
    left: 277px;
    position: relative;
    font-size:23px;
}

.plus{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -376px;
    left: 181px;
    position: relative;
    font-size: 23px;
}

.btn12{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -336px;
    left: 88px;
    position: relative;
    font-size: 23px;
}

.btn11{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -295px;
    left: -8px;
    position: relative;
    font-size:23px;
}

.btn10{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -255px;
    position: relative;
    left: -104px;
    font-size:23px;
}

.btn14{
    width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -395px;
    left: -130%;
    position: relative;
    font-size:23px;
}

.btn15{
    top: -433px;
    position: relative;
    width: 80px;
    height: 41px;
    border-radius: 16px;
    left: -7px;
    font-size:23px;
}

.btn17{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -473px;
    left: 87px;
    position: relative;
    font-size:23px;
}

.btn16{
width: 80px;
    height: 41px;
    border-radius: 16px;
    top: -555px;
    position: relative;
    left: 276px;
    font-size:23px;
}

.btn19{
    width: 80px;
    height: 41px;
    position: relative;
    border-radius: 16px;
    top: -514px;
    left: 180px;
    font-size:23px;
}

.M::before{
     content: "M- M";
    font-size: 14px;
    top: -58%;
    left: 21px;
    position: absolute;
    color: orange;
}

.O::before{
     content: "X";
    font-size: 14px;
    top: -55%;
    left: 60px;
    position: absolute;
    color: orange;
}

.sin::before{
content: "sin⁻1 D";
     font-size: 11px;
    top: -50%;
    left: 39px;
    position: absolute;
    color: orange;
}

.cos::before{
content: "cos⁻1 E";
 font-size: 11px;
    top: -50%;
    left: 37px;
    position: absolute;
    color: orange;
}

.tan::before{
content: "tan⁻1 F";
 font-size: 11px;
    top: -50%;
    left: 40px;
    position: absolute;
    color: orange;
}







